/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 22, 2016, 1:46:01 PM
    Author     : bsack
*/

 #keyword {
                width: 290px;
                font-size: 1em;
            }

            #results {
                width: 294px;
                position: absolute;
                border: 1px solid #c0c0c0;
            }

            #results .item {
                padding: 3px;
                font-family: Helvetica;
                background-color: #fff;
                border-bottom: 1px solid #c0c0c0;
            }

            #results .item:last-child {
                /*border-bottom: 0px;*/
                border: 0px;
            }

            #results .item:hover {
                background-color: #ffef00;
                cursor: pointer;
            }