/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2016, 3:49:59 PM
    Author     : bsack
*/

    /* responsive image */
            img {
                max-width: 100%;
                height: auto;
                /*width:100%;*/
            }

            @media \0screen {
                img { 
                    width: auto; /* for ie 8 */
                }
            }
            /* responsive stuff for changing menu to drop down */
            nav select {
                display: none;
            }

            .headleft { 
                padding-top:0;
                padding-left: 0;
            }

            @media all and (max-width : 600px) { 
                /* was 480 */
             .top-nav {display:none;line-height:0;}
             .prog_nav {display:none;line-height:0;}
             .navbar {display:none;line-height:0;}
             .headleft {padding-top:1em;}
             nav select { display: inline-block; }
             nav .prog_nav {display:none;line-height:0;}
             #upcoming {width:80%;}
            }
            /* end stuff for responso change to drop down */
            /* responsive stuff for removing share from small screens */
            .share {
                display: none;
            }
            @media all and (min-width : 600px) {
                .share { display: inline-block; }
                .headleft {padding-top:.5em;}
                .headright {padding: 0 0 0 0;}
                .navbar {padding: 0 0 .5em 0;}
            }
            /* end stuff for responso change to drop down */


            /* you only need width to set up columns; all columns are 100%-width by default, so we start
                   from a one-column mobile layout and gradually improve it according to available screen space */


            @media only screen and (min-width: 37.5em) {
                .feature, .info { width: 50%; }
                .galleryimg {float:none;}
                /* galleryimg not working the way i would like yet */
                .datetime {width:25%}
                .description {width:75%;padding:0 1.5;}
                p {font-size: 0.875em;}
                .feature:first-child,
                .info:first-child {/* border-right: 1px dotted #aaa; */
                    border:none;}
                .container {padding: 0 1em 1em;}
                h1 {font-size: 2.6em;}
                h2 {font-size: 1.6em;}
                .show-third p {font-size: 1.3em;}
                #support {font-size:1.5em;}
            }
            /* was 54? */
            @media only screen and (min-width: 57em) {
                .content, .headright { width: 75%; }
                .sidebar, .headleft { width: 25%; }
                .info, .col-1-2 { width: 100%;   }
                .galleryimg {float:left;}
                .headleft {padding-top:.25em;padding-bottom:0em;}
                .headright {padding: 0 0 0 1em;}
                .content {border: none;
                          /* border-right: 1px dotted #aaa; */
                          margin-bottom: 0;}
                .info:first-child {border: none;}
                h1 {font-size: 3em;	}
                h2 {font-size: 1.7em;}
                .show-third p {font-size: 1.1em;}
                #support {font-size:2.75em;}
            }

            @media only screen and (min-width: 76em) {
                /*.content, .headright { width: 58.33%; } /* 7/12 */
                /*.sidebar, .headleft { width: 41.66%; } /* 5/12 */
                .content, .headright { width: 66.66%; } /* 7/12 */
                .sidebar, .headleft { width: 33.33%; } /* 5/12 */
                .info, .col-1-2    { width: 50%;    }
                .galleryimg {float:none;}
                .headleft {padding-bottom:0em;}
                .headright {padding-top:0em;}
                .info:first-child {
                    /*border-right: 1px dotted #aaa; */
                    border:none; }
                h1 {font-size: 3.2em;}
                h2 {font-size: 1.8em;}
                .show-third p {font-size: .9em;}
                #support {font-size:4.0em;}
            }
@media only screen and (min-width: 30em) {
	.top-nav > li a {font-size:12px}
	}
	
@media only screen and (min-width: 40em) {
	/*.top-nav > li a {font-size:16px}*/
	.top-nav > li a {font-size:12px}
	}
	
@media only screen and (min-width: 57em) {
	/*.top-nav > li a {font-size:20px}*/
	.top-nav > li a {font-size:16px}
	}

@media only screen and (min-width: 76em) {
	/*.top-nav > li a {font-size:24px}*/
	.top-nav > li a {font-size:20px}
}


